   .player-list {
    display: flex;
    flex-wrap: wrap;
    
    list-style: none; /* 리스트를 표시하는 dot 제거 but 원래 dot의 공간(padding)이 남아있어 공백이 생긴다 */
    padding: 1rem 0; /* ★ default가 16px이므로 1rem=16px, 위 아래 padding 적용하여 그림자 활성화 */
    margin: 0;
    overflow: hidden; 
    background-color: black; 
    
  } 
  
  .player-card {
    width: 260px; /* px로 고정(웹브라우저 늘거나 줄어들때 마다 크기 변하면 부자연스러우므로  */
    /* box-shadow: 블럭에 그림자를 적용하는 CSS 기능
       https://developer.mozilla.org/ko/docs/Web/CSS/box-shadow 
       offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2); /* ★중요 : 박스 자체가 흰색이므로 웹브라우저 상에 나타나게 하려면 box-shadow를 활용해야 한다 */
    border-radius: 8px; /* 모서리 약간 둥글게 */
    margin: 0 22px; /* 카드마다의 간격 */
    transition: 0.4s;
    /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
    min-height: 150px;
    flex-basis: 15%;
    flex-shrink: 1;
    flex-grow: 1;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  
  }

  .player-card:hover {
    box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
    transform: translate(0, -5px);
  }


  .jeus-image {
    background-image: url('../../../images/T1-player/profile_Jeus.jpg');
  }

  .oner-image {
    background-image: url('../../../images/T1-player/profile_Oner.jpg');
  }

  .faker-image {
    background-image: url('../../../images/T1-player/profile_Faker.jpg');
  }

  .gumayusi-image {
    background-image: url('../../../images/T1-player/profile_Gumayusi.jpg');
  }

  .keria-image {
    background-image: url('../../../images/T1-player/profile_Keria.jpg');
  }
  
  @media screen and (max-width: 1024px) {
    .player-card{
      
      flex-basis: 25%;
      margin-bottom: 20px;
    
    }
  }

  @media screen and (max-width: 500px) {
    .player-card{
      
      flex-basis: 30%;
      
    }
  }

  @media screen and (max-width: 400px) {
    .player-card{
      
      flex-basis: 60%;
      
    
    }
  }
  
  






